<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/main.css" />
    <link rel="stylesheet" href="/public/css/output.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Chat App</title>
  </head>
  <body class="bg-main-grey overflow-x-hidden">
    <div class="loading"></div>
    <!-- wrapper section -->
    <section class="container-2xl flex justify-between h-screen relative">
      <!-- main section -->
      <section
        class="flex flex-col basis-[100%] md:basis-[84%] overflow-hidden border-black"
      >
        <%-body%>
      </section>

      <!-- sidebar -->
      <%- include('../parts/sidebar.ejs') %>
    </section>
    <script type="module" src="/public/js/client.js"></script>
    <script type="module" src="/public/js/index.js"></script>
    <script src="/public/js/main.js"></script>
  </body>
</html>
